@font-face {
    font-family: 'GT Walsheim Pro';
    src: url(../assets/fonts/GTWalsheimPro-Regular.ttf);
}

@font-face {
    font-family: 'StratumNo1';
    src: url(../assets/fonts/stratum-no1-2.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #0b0b0b;
    position: relative;
    min-height: 100%;
}

body {
    height: 100vh;
    color: white;
    margin: 0;
    font-family: 'GT Walsheim Pro', sans-serif;
    position: relative;
    /* background: url(../assets/images/fond.png) no-repeat center/cover; */
}

p{
    color: #acacac;
}

/*Titres*/
h1, h2 {
    text-transform: uppercase;
    font-family: 'StratumNo1', sans-serif;
}

h1 {
    text-align: center;
    font-size: 60px;
    line-height: 60px;
}

h2 {
    font-size: 50px;
}

.Trait{
    border: none;
    border-top: #333 1px solid;
    width: 75%;
    margin: 20px auto;
}

/* Barre de navigation */
header{
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 115px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 41px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #FF4C4C;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.search-bar {
    display: flex;
    align-items: center;
    height: 47px;
    background: #303030;
    border: none;
    padding: 5px 10px;
}

.search-input{
    font-size: 16px;
    margin-left: 14px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    width: 325px;
}

.search-bar:focus-within {
    outline: 2px solid #FF4C4C;
}

.btn {
    max-height: 50px;
    background-color: #FF4C4C;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 14px;
}

.login {
    background-color: transparent;
}

.btn-highlight {
    display: inline-block;
    padding: 15px 30px;
    font-family: 'GT Walsheim Pro', sans-serif;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform 0.2s ease-in-out;
}

.btn-highlight::before,
.btn-highlight::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border: 3px solid white;
}

.btn-highlight::before {
    top: 5px;
    left: 5px;
    border-right: none;
    border-bottom: none;
}

.btn-highlight::after {
    bottom: 5px;
    right: 5px;
    border-left: none;
    border-top: none;
}

.btn-highlight:hover {
    transform: scale(1.05);
    background-color: #E53935;
}

/* Burger menu (mobile only) */
.burger {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    display: none;
}

/* DROPDOWN LORS DU RESPONSIVE */
.dropdown-menu{
    position: absolute;
    right: 2rem;
    top: 100px;
    height: 0;
    width: 340px;
    background: #1A1A1A;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 9999;
}

.dropdown-menu.open{
    height: 400px;
}

.dropdown-menu li{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .dropdown-links a{
    text-decoration: none;
    color: white;
    font-size: 32px;
    transition: color 0.3s;
}

.dropdown-menu .dropdown-links a:hover{
    color: #FF4C4C;
}

.dropdown-search-bar {
    display: flex;
    align-items: center;
    height: 47px;
    width: 300px;
    background: #303030;
    border: none;
    padding: 5px 10px;
    margin: 20px;
}

.dropdown-search-bar:focus-within {
    outline: 2px solid #FF4C4C;
}

.dropdown-actions{
    display: flex;
    justify-content: center;
    margin: 40px 10px;
}

/* RESPONSIVE DU HEADER */
@media (max-width: 1190px) {
    .nav-links,
    .navbar .nav-actions {
        display: none;
    }

    .burger{
        display: block;
    }

    .dropdown-menu{
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown-menu{
        left: 2rem;
        width: unset;
    }
    .dropdown-search-bar {
        width: unset;
    }
}

/* Page 404 */
.notFound{
    display: grid;
    max-width: 400px;
    margin: auto;
    text-align: center;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7%;
    gap: 2rem;
}

.notFound-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notFound-header h1 {
    font-weight: 900;
    font-size: 4rem;
    color: #FF4C4C;
    margin: 0;
}

.notFound-header h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #acacac;
    margin-top: 2rem;
}

.notFound img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    rotate: -20deg;
}   

.notFound-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.notFound-footer p {
    font-size: 1rem;
    margin-bottom: 25px;
    place-content: baseline;
}

@media (min-width: 640px) {
    .notFound {
      max-width: 1200px;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
    .notFound img {
      max-width: 550px;
      grid-area: 1/1/3/2;
    }
    .notFound-footer {
      max-width: 400px;
    }
}
  
@media (min-width: 1024px) {
    .notFound {
      column-gap: 5rem;
    }
    .notFound-header h1 {
      font-size: 6rem;
    }
    .notFound-header h3 {
      font-size: 2.5rem;
    }
}

/* Section principale */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 20px;
    gap: 100px;
    text-align: left; /* Alignement du texte à gauche dans la section hero */
}

/* Contenu textuel */
.hero-content {
    flex: 1; /* Prend la moitié de l'espace */
    max-width: 490px;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
    text-align: left; /* Override l'alignement centré des h1 */
    color: white;
}

.highlight p {
    font-family: 'StratumNo1', sans-serif;
    color: #FFCA4C;
}

.hero-content p {
    font-size: 18px;
    margin: 30px 0;
    color: #acacac;
}

.hero-stat {
    margin-top: 3rem;
    text-align: center;
}

.stat-number {
    font-family: 'StratumNo1', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #FF4C4C;
    display: block;
}

.stat-text {
    font-size: 1rem;
    color: #ccc;
}

/* Image */
.hero-image,
.about-image img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image img,
.about-image img {
    width: 100%;
    max-width: 590px;
    height: auto;
}

/* Section Partenaires */
.partners {
    display: flex;
    justify-content: center;
    gap: 72px;
    padding: 20px;
}

.partners img {
    width: 52px;
    height: 52px;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
        gap: 40px;
    }

    .hero-content {
        max-width: 100%;
        text-align: left;
    }

    .hero-content h1 {
        font-size: 36px;
    }

    .hero-content p {
        font-size: 16px;
        line-height: 22px;
        margin: 20px 0;
    }

    .stat-number {
        font-size: 2.2rem;
    }

    .stat-text {
        font-size: 0.95rem;
    }

    .partners {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-around;
    }

    .partners img {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .hero-content h1 {
        font-size: 36px;
    }

    .hero-content p {
        font-size: 16px;
        line-height: 22px;
    }

    .stat-number {
        font-size: 1.8rem;
    }

    .stat-text {
        font-size: 0.9rem;
    }

    .partners {
        flex-wrap: wrap;
        gap: 20px;
    }
}

/* Section About */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    margin: auto;
    padding: 80px 20px;
    gap: 80px;
}

.about-content {
    flex: 1; /* Prend la moitié de l'espace */
    max-width: 460px;
}

.about-content p {
    font-size: 16px;
    margin: 30px 0;
}

.highlight {
    color: #FF4C4C;
}

@media (max-width: 900px) {
    .about {
        flex-direction: column-reverse;
        text-align: center;
        padding: 50px 20px;
        gap: 40px;
    }

    .about-content {
        max-width: 100%;
        margin: 20px;
    }

    .about-content p {
        text-align: left;
    }

    .about-image img {
        max-width: 100%;
    }

    .about-content h2 {
        font-size: 2rem;
    }
}

/* Guides */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.card-wrapper{
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list .card-item{
    list-style: none;
}

.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background: #1A1A1A;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.card-list .card-item .card-link:active {
   cursor: grabbing; 
}

.card-list .card-item .card-link:hover{
    border-color: #FF4C4C;
}

.card-list .card-link .card-image{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge{
    color: white;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #303030;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .card-title{
    font-size: 1.19rem;
    color: white;
    font-weight: 600; 
}

.card-list .card-link .card-button{
    height: 35px;
    width: 35px;
    color: #FF4C4C;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #FF4C4C;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.card-list .card-link .card-button:hover{
    color: #fff;
    background: #FF4C4C;
}

.card-wrapper .swiper-pagination-bullet{
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #FF4C4C;
}

.card-wrapper .swiper-pagination-bullet-active{
    opacity: 1;
}

.card-wrapper .swiper-slide-button{
    color: #FF4C4C;
    margin-top: -35px;
}

@media screen and (max-width: 768px) {
    .card-wrapper{
        margin: 0 10px 25px;
    }

    .card-wrapper .swiper-slide-button{
        display: none;
    }
}

/* Banniere */
.banner {
    margin: 50px 30px; /* Centrage */
    background: #FF4C4C;
    padding: 50px 0;
}

.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h2 {
    color: white;
    font-size: 3.75rem;
    font-weight: 900;
    max-width: 900px;
    margin: 0 100px;
}

.banner a {
    background-color: #111;
    width: fit-content;
}

.banner a:hover {
    background-color: #040404;
}

@media (max-width: 1024px) {
    .banner-content {
        flex-direction: column;
        text-align: center;
    }

    .banner h2 {
        font-size: 2.75rem;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .banner h2 {
        font-size: 1.75rem;
        margin-bottom: 20px;
    }
}

/* PAGE ABOUT */
.about-page {
    padding: 32px;
}
  
.about-page h1 {
    font-size: 3rem;
    margin: 0;
}
  
.about-page p {
    font-size: 18px;
}
  
.about-page-hero {
    text-align: center;
    background: url('../assets/images/banner.png') no-repeat center/cover;
    height: 350px;
    padding: 35px;
}
  
.about-page-hero h1 {
    font-size: 3rem;
    margin: 0;
    text-transform: uppercase;
    font-size: 60px;
}

.about-logo{
    width: 635px;
}
  
.about-page-content {
    padding: 60px 20px;
    background-color: #FF4C4C;
}
  
.box {
    background-color: #111;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 25px;
}
  
.box h2 {
    color: #FF4C4C;
    font-size: 50px;
}

@media screen and (max-width: 768px) {
  .about-page {
    padding: 20px 15px;
  }

  .about-page-hero {
    padding: 20px 10px;
    height: auto;
  }

  .about-page-hero h1 {
    font-size: 2.2rem;
  }

  .about-logo {
    width: 100%;
    max-width: 320px;
    height: auto;
  }

  .box {
    padding: 18px 15px;
    margin: 15px auto;
  }

  .box h2 {
    margin-bottom: 30px;
    font-size: 2rem;
  }

  .box p {
    margin: 10px;
    line-height: 1.6;
  }
}


/* Connexion + Inscription + Contact form */
.connexion , .inscription, .contact{
    padding: 7%;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    margin: auto;
    width: 400px;
}

.input-container {
    position: relative;
    width: 100%;
}

.input-container input {
    height: 56px;
}

.input-container textarea {
    min-height: 120px;
    resize: vertical;
    padding-top: 10px;
}

.input-container input,
.input-container textarea {
    font-family: 'GT Walsheim Pro', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
    outline: none;
    padding: 15px;
    border: 1px solid #3E3E3E;
    color: #fff;
    background: transparent;
}

.input-container .label {
    position: absolute;
    top: 30px;
    left: 15px;
    font-size: 0.875rem;
    color: #ccc;
    transition: all 0.2s ease;
    pointer-events: none;
    z-index: 2;
}

.input-container input:focus ~ .label,
.input-container input:valid ~ .label,
.input-container textarea:focus ~ .label,
.input-container textarea:valid ~ .label {
    top: 3px;
    left: 5px;
    font-size: 12px;
    background-color: #0b0b0b;
    padding-left: 5px;
    padding-right: 5px;
}

.input-container input:focus, textarea:focus {
    border: 1.5px solid #FF4C4C;
}

/* Disparition du placeholder au focus */
.input-container input:focus::placeholder {
    color: transparent;
}

.other-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 15px;
}

/* Partie Droite et gauche pour Contact */
.contact-section {
    max-width: 1200px;
    margin: auto;
    padding: 5%;
    text-align: center;
}

.form-contact {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
    padding: 5%;
}

.form-left,
.form-right {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

textarea {
    resize: none;
    height: 195px;
}

.captcha {
    width: 235px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #3E3E3E;
    font-size: 0.75rem;
    color: #acacac;
    display: flex;
    align-items: center;
    gap: 20px;
}
  
.captcha img {
    height: 40px;
}

.footer-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .form-contact {
        flex-direction: column;
        align-items: center;
    }

    .footer-form {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-left,
    .form-right {
        max-width: 100%;
    }
}

/* Paragraphes des forms */
p {
    margin: 20px;
    font-size: 0.9rem;
}

p a {
    color: #FF4C4C;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 400px) {
    .form {
        max-width: 90%;
    }
}

/* PAGE DES LIVES */
.live-page {
    max-width: 1300px;
    margin: auto;
    padding: 40px 20px;
    color: #fff;
}

.live-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.filter-bar {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    background-color: #111;
    padding: 50px;
}

.filter-group {
    display: flex;
    flex-direction: column;
    color: white;
}

.filter-group label {
    font-size: 14px;
    margin-bottom: 5px;
}

.filter-group select {
    padding: 10px 12px;
    background-color: #1a1a1a;
    color: white;
    border: 1px solid #3E3E3E;
    font-family: inherit;
    font-size: 14px;
    width: 180px;
    cursor: pointer;
}

.filter-group select:focus {
    outline: none;
    border-color: #FF4C4C;
}


.event-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 60px;
    padding: 0;
    margin: 40px;
    text-align: left;
}

.event-card {
    background-color: #1A1A1A;
    border: #FF4C4C 2px solid;
    padding: 25px;
    border-radius: 12px;
    transition: transform 0.2s ease-in-out;
}

.event-card:hover {
    transform: scale(1.02);
}

.event-title {
    font-size: 1.5rem;
    margin: 5px 0;
}

.event-description {
    color: #ccc;
    margin: 15px 0;
    font-size: 0.95rem;
}

.event-meta p {
    font-size: 0.95rem;
    margin-bottom: 5px;
    color: #ccc;
}

.event-meta strong {
    color: #fff;
}

@media screen and (max-width: 768px) {
    .event-list {
        grid-template-columns: 1fr;
        gap: 30px;
        margin: 20px;
    }

    .event-title {
        margin-bottom: 10px;
    }

    .event-description {
        font-size: 0.95rem;
        margin-bottom: 10px;
    }
}

/* POPUP ERREUR */
.popup-error {
    position: fixed;
    top: 20px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    background-color: #1A1A1A;
    border: #FF4C4C 2px solid;
    color: white;
    padding: 15px 25px;
    border-radius: 6px;
    z-index: 1000;
    animation: slideDown 0.3s ease;
}

@keyframes slideDown {
    from { opacity: 0; transform: translate(-50%, -20px); }
    to { opacity: 1; transform: translate(-50%, 0); }
}

/* DASHBOARD */
.dashboard{
    max-width: 1300px;
    margin: 5% auto;
    padding: 40px 20px;
    text-align: center;
}

.dashboard h2 {
    font-size: 40px;
    margin: 75px 0;
}

.event-actions a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.event-actions {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.dashboard-admin {
    margin-bottom: 100px;
}

/* ADMIN DASHNOARD */
.admin, .orga {
    max-width: 1500px;
    margin: 5% auto;
    padding: 0 20px;
}

.card-container { 
    display: flex; 
    gap: 1rem; 
    justify-content: space-between; 
    margin-top: 2rem; 
    flex-wrap: wrap; 
}

.card { 
    flex: 1; 
    padding: 1rem; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    min-width: 250px; 
}
    
.card h2 { 
    margin-bottom: 1rem; 
    font-size: 1.5rem; 
}

.card-users, .card-events, .card-registrations {
    background-color: #1A1A1A;
    border: #FF4C4C 2px solid;
    padding: 25px;
    border-radius: 12px;
}

.links { 
    margin-top: 2rem; 
    display: flex; 
    gap: 1rem; 
    justify-content: center; 
}

/* ADMIN EVENT MANAGER */
.admin h1, .orga h1 {
    margin-bottom: 60px;
}

table {
    width: 90%;
    margin: 40px auto;
    border-collapse: collapse;
    background-color: #1A1A1A;
}

th,
td {
    padding: 15px 20px;
    text-align: left;
}

th {
    background-color: #303030;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #111;
}

.btn-accept,
.btn-reject {
    padding: 8px 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-accept {
    background-color: #00A539;
}

.btn-reject {
    background-color: #DD0012;
}

.btn-accept:hover {
    background-color: rgba(0, 165, 57, 0.6);
}

.btn-reject:hover {
    background-color: rgba(221, 0, 18, 0.6);
}

/* Footer */
.footer {
    background-color: #040404;
    color: white;
    padding: 40px 0;
    font-family: 'GT Walsheim Pro', sans-serif;
}

.footer-container {
    width: 80%;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.logo {
    width: 150px;
}

.slogan {
    margin-top: 10px;
    font-size: 14px;
    color: #cfcfcf;
}

.footer-section h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #cfcfcf;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #FF4C4C;
}

.footer-section p a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer-section p a:hover {
    color: #FF4C4C;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: white;
    font-size: 20px;
    margin-right: 10px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #FF4C4C;
}

hr {
    border: none;
    border-top: 1px solid #333;
    margin: 20px 0;
}

.copyright {
    text-align: center;
    font-size: 14px;
    color: #cfcfcf;
}